# frozen_string_literal: true

module Api::<%= modules.join("::") %>
  class <%= name.titleize.pluralize %>Controller < Api::ApplicationController
    private

    # Returns the service object responsible for handling
    # business logic related to this resource.
    def service
<% if service_exist? -%>
      @service ||= <%= class_name %>Service.new
<% else -%>
      @service ||= ApplicationService.new(model: model)
<% end -%>
    end

    def model
      <%= class_name %>
    end
  end
end
