# frozen_string_literal: true

class <%= class_name.titleize %>UpdateInput < ApplicationInput
<% class_name.constantize.columns.reject { |c| c.name.in?(["id", "created_at", "updated_at"]) }.each do |column| -%>
<% if column.null -%>
  optional(:<%= column.name %>)
<% else -%>
  required(:<%= column.name %>)
<% end -%>
<% end -%>
end
