# frozen_string_literal: true

class <%= class_name %>Repository < ApplicationRepository
  # Overrides the default ordering (id DESC).
  # Usage: sort_by :column, :asc | :desc
  # sort_by :id, :desc

  private

  def default_scope
    <%= class_name %>.all
  end
end
