# frozen_string_literal: true

class <%= name.titleize.pluralize %>Controller < ApplicationController
  private

  # Returns the service object responsible for handling
  # business logic related to this resource. It is initialized
  # with the current user for context.
  def service
<% if service_exist? -%>
    @service ||= <%= class_name %>Service.new
<% else -%>
    @service ||= ApplicationService.new(model: model)
<% end -%>
  end

  def model
    <%= class_name %>
  end
end
