# frozen_string_literal: true

module <%= modules.join("::") %>
  class <%= name.titleize.pluralize %>Controller < ApplicationController
    # If you want to disable specific default actions (e.g., :create, :index, :show, :update, :destroy),
    # you can simply call `undef_action` with the action name. By default this line is commented out,
    # but uncommenting it allows you to remove unwanted endpoints from the controller.
    # Example: `undef_action :create` will disable the create action.
    # undef_action :index, :create, :show, :update, :destroy

    private

    # Returns the service object responsible for handling
    # business logic related to this resource.
    def service
<% if service_exist? -%>
      @service ||= <%= class_name %>Service.new
<% else -%>
      @service ||= ApplicationService.new(model: model)
<% end -%>
    end

    def model
      <%= class_name %>
    end

    # === OVERRIDABLE RESPONSE OPTIONS ===

    # list_options defines how the response for the `index` action
    # (list of records) should be formatted. It not only controls
    # pagination details like limit, offset, current_page, and total count,
    # but also specifies which serializer/format method will be applied
    # to each record’s output object (e.g., UserOutput#mini_format).
    #
    # def list_options
    #   {
    #     use: :basic_format,
    #     limit: limit,
    #     offset: offset,
    #     current_page: current_page,
    #     total: record_counts,
    #   }
    # end

    # show_options defines how the response for the `show` action
    # (single record) should be formatted. It specifies which serializer/format
    # method will be applied to the output object (e.g., UserOutput#mini_format),
    # ensuring the resource is returned in the desired shape.
    #
    # def show_options
    #   { use: :basic_format }
    # end
  end
end
