# frozen_string_literal: true

class <%= name.titleize %>Service < ApplicationService
  # If you want to disable specific default actions (e.g., :create, :update, :destroy),
  # you can simply call `undef_action` with the action name. By default this line is commented out,
  # but uncommenting it allows you to remove unwanted endpoints from the controller.
  # Example: `undef_action :create` will disable the create action.
  # undef_action :create, :update, :destroy

  def initialize(user: nil)
    super(
      model: <%= class_name %>,
      user: user,
      repository: <%= class_name %>Repository.new,
    )
  end
end
